# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# Sensitive Data
sensitive/
credentials.json
sheets_data.py
*api_key*
*.env

# Project specific
data/
review_info/
images/
images_for_review/
voided_images/

# Misc
.DS_Store
Thumbs.db 